*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#1C0C5B;
}


#notepad{
    position: absolute;
    top: 10%;
    font-size: 25px;
    width: 50%;
    left: 2%;
    border-color: gold;
    background-color: black;
    color: white;
    height: 35%;
}

#notepad2{
    position: absolute;
    top: 50%;
    font-size: 25px;
    width: 50%;
    left: 2%;
    border-color: gold;
    background-color: black;
    color: white;
    height: 35%;
}

 #notepad3{
    position: absolute;
    top: 90%;
    font-size: 25px;
    width: 50%;
    left: 2%;
    border-color: gold;
    background-color: black;
    color: white;
    height: 35%;
    
}




#information{
    position: absolute;
    top: 7%;
    left: 60%;
    
    width: 30%;
    height: 90%;
}

.username{
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 5px;
    font-size: 20px;
}



.userphone{
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    padding: 5px;
    margin-top: 7%;
    font-size: 20px;

}
.userEmail{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5px;
    margin-top: 14%;
    font-size: 20px;

}
.userLandmark{
    margin-top: 21%;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
    padding: 5px;
    font-size: 20px;

}
.useraddress{
    margin-top: 28%;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 5px;
    font-size: 20px;

}

.userCity{
    margin-top: 35%;
    width: 80%;
    position: absolute;
    top: 35%;
    left: 10%;
    padding: 5px;
    font-size: 20px;

}






